.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

label {
  font-weight: 500;
  font-size: 1rem;
}

input {
  border: 1px solid #cccccc;
  outline: none;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input:hover {
  border: 1px solid #adadad;
}

input:focus {
  border: 1px solid #239ce2;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  label {
    font-size: 0.875rem; /* Adjust the label size for smaller screens */
  }

  input {
    padding: 8px 10px; /* Reduce padding for smaller screens */
    font-size: 0.875rem; /* Adjust input font size for smaller screens */
  }
}

@media (max-width: 480px) {
  label {
    font-size: 0.75rem; /* Further adjust label size for very small screens */
  }

  input {
    padding: 6px 8px; /* Further reduce padding for very small screens */
    font-size: 0.75rem; /* Further adjust input font size for very small screens */
  }
}
