.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

label {
  font-weight: 500;
  font-size: 1rem;
}

input {
  border: 1px solid #cccccc;
  outline: none;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input:hover {
  border: 1px solid #adadad;
}

input:focus {
  border: 1px solid #239ce2;
}

@media (max-width: 768px) {
  label {
    font-size: 0.875rem; 
  }

  input {
    padding: 8px 10px;
    font-size: 0.875rem; 
  }
}

@media (max-width: 480px) {
  label {
    font-size: 0.75rem; 
  }

  input {
    padding: 6px 8px; 
    font-size: 0.75rem;
  }
}
